.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  .images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  .img-modal {
      display: none;
      position: fixed;
      z-index: 9999;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.95);
      text-align: center;
    }
    
    .modal-img-wrapper {
      height: 80vh;
      overflow: auto;
      padding: 20px;
    }
    
    .modal-img-wrapper::-webkit-scrollbar {
      width: 10px;
    }
    .modal-img-wrapper::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px;
    }
    
    .modal-content {
      display: block;
      margin: auto;
      transform-origin: center center;
      transition: transform 0.3s ease;
    }
    
    .close-modal {
      position: absolute;
      top: 15px;
      right: 30px;
      font-size: 40px;
      color: #fff;
      cursor: pointer;
      z-index: 10001;
    }
    
    .modal-controls {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 15px;
      z-index: 10001;
    }
    
    .modal-controls button,
    .modal-controls a {
      font-size: 20px;
      padding: 10px 15px;
      background: #ffffff10;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 8px;
      transition: background 0.3s;
    }
    
    .modal-controls button:hover,
    .modal-controls a:hover {
      background: #ffffff30;
    }
